.information{
    width: 800px;
    margin: 30px auto auto auto;
    padding: 20px;
    text-align: center;
    font-family: "Book Antiqua";
}
.food_post{
    color: #538571;
}
.box{
    padding: 30px;
    border-top : solid 1px #9AB2A5;
    color: #538571;
    font-size: 120%;
}