
<div class="salecontainer">
  <h1>memo</h1>
  <h3>新規投稿</h3>
  <%= form_for @post do |f| %>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_field :body, :size => 140 %>
    </div>
    <%= f.submit "投稿する" %>
  <% end %>
</div>