.sign_up{
  width: 50vw;
  margin: 80px auto auto auto;
  text-align: center;
  font-size: 20px;
  font-family: "Book Antiqua"
}

.signup{
  font-size: 130%;
  text-align: center;
  padding: 30px;
  font-weight: bold;
  text-shadow: 1px 2px 3px  #464646;
  border-bottom: dashed 1px #516346;
  color: #B5B19E;
}
.afield{
  margin-top: 20px;
  color: #464646;
}
